.route-button-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.back-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('back-icon.svg');
    background-repeat: no-repeat;
    background-size: 100%;
}

.add-column-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('add-column-icon.svg');
    background-repeat: no-repeat;
    background-size: 100%;
}