@import '../constants.scss';
@import '../mixins.scss';
@import '../placeholders.scss';

.main-route-content {
    width: 100%;
    padding: 40px 0;
    @include flex(column);
    align-items: center;
    position: relative;
}

.boards-wrapper {
    @include flex(row);
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    padding: 40px 0;
    transition: all 0.5s ease;
}

.add-icon {
    @include icon(20px, 20px);
    background-image: url('add_icon.svg');
}