.tasks-list-wrapper {
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: #FFFFFF;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
}

.buttons-list-wrapper {
    display: flex;
    column-gap: 8px;
}

.tasks_button {
    position: relative;
    border-radius: 50%;
    padding: 10px;
    width: 45px;
    height: 45px;
    border: 2px solid #B4FF02;
    background-color: #FFFFFF;
    cursor: pointer;
}

.tasks_button:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    border-radius: 50%;
    background-image: linear-gradient(180deg, #B4FF02, #DAFD4E);
    transition: all .5s;
}
  
.tasks_button:hover:after{
    opacity: 1;
}

.tasks_button-icon {
    z-index: 2;
    position: relative;
}

.edit-icon {
    display: inline-block;
    width: 100%;
    height: 100%;
    background-image: url('edit-icon.svg');
    background-repeat: no-repeat;
    background-size: 100%;
}

.delete-icon {
    display: inline-block;
    width: 100%;
    height: 100%;
    background-image: url('dark-bin-icon.svg');
    background-repeat: no-repeat;
    background-size: 100%;
}