@import '../constants.scss';
@import '../mixins.scss';
@import '../placeholders.scss';

.tasks-list-wrapper {
    width: 350px;
    @include flex(row);
    align-items: center;
    justify-content: space-between;
    @extend %shadow;
    background-color: $color-light;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    @include media-mobile {
        width: 300px;
    }
}

.tasks-title {
    border: none;
    padding: 10px;
    background-color: $color-light;
    color: $color-dark;
    @include font(normal, 400, 1.8rem);
    outline: none;  
}

.tasks_button-wrapper {
    width: 100px;
    @include flex(row);
    align-items: center;
    justify-content: space-between;
}

.tasks_button {
    position: relative;
    @extend %rounded-button;
    padding: 10px;
    width: 45px;
    height: 45px;
    border: 2px solid $color-primary;
    background-color: $color-light;
    cursor: pointer;
    &:after {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        border-radius: 50%;
        background-image: linear-gradient(180deg, $color-primary, $color-secondary);
        transition: all .5s;
    };
    &:hover:after{
        opacity: 1
    };
}

.tasks_button-icon {
    z-index: 2;
    position: relative;
}

.edit-icon {
    @include icon(100%, 100%);
    background-image: url('edit-icon.svg');
}

.delete-icon {
    @include icon(100%, 100%);
    background-image: url('dark-bin-icon.svg');
}