footer {
    background-color: #DAFD4E;
    height: 80px;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

.rs_school-logo {
    width: 100px;
}

a {
    text-decoration: none;
    color: #333333;
}