.header_button_icon {
    width: 45px;
    height: 45px;
    cursor: pointer;
}

.add-icon {
    display: inline-block;
    width: 100%;
    height: 100%;
    background-image: url('add_icon.svg');
    background-repeat: no-repeat;
    background-size: 100%;
}

.user-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('user_icon2.svg');
    background-repeat: no-repeat;
    background-size: 100%;
}

.logout-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('log_out_icon.svg');
    background-repeat: no-repeat;
    background-size: 100%;
}