@import '../constants.scss';
@import '../mixins.scss';
@import '../placeholders.scss';


.column {
    @include flex(column);
    width: 250px;
    row-gap: 10px;
}

.task-column {
    width: 100%;
    @include flex(row);
    align-items: center;
    justify-content: space-between;
    @extend %shadow;
    background-color: $color-light;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    @include media-mobile {
        width: 300px;
    }
}

.task-list {
    width: 100%;
    height: 350px;
    overflow: scroll;
    //@include flex(column);
    //align-items: flex-start;
    //justify-content: flex-start;
    //row-gap: 10px;
    @include media-mobile {
        width: 300px;
    }
}

.task {
    width: 100%;
    height: 120px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: $color-secondary;
    @extend %shadow;
    @extend %border-radius;
    @include flex(column);
    align-items: flex-start;
    justify-content: space-between;
    gap: 10px;
    & p {
        width: 200px;
        @include font(normal, 400, 1.4rem);
    }
}