.login-page {
	background-color: #FFFFFF;
}

.login-content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 0;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 8px;
    padding: 30px;
    background-color: #FFFFFF;
}

.form-title {
  margin-bottom: 16px;
}

.form-subtitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 8px;
  margin-bottom: 10px;
}

.form-text {
  font-size: 16px;
}

.form-link {
  color: #B4FF02;
  border-bottom: 2px solid #B4FF02;
}

.submit-button {
  width: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.submit-button:disabled {
    background-color: #939393;
    pointer-events: none;
}

.input-wrapper {
  display: flex;
  flex-direction: column-reverse;
  width: 320px;
  margin: 0 auto;
}

.form-input {
  border: none;
  padding: 10px;
  margin: 20px 0;
  font-size: 16px;
  border-bottom: 1px solid #939393;
  outline: none;  
}

.input-label {
  padding-left: 10px;
  color: #939393;
  transform: translateY(30px);
  transform-origin: left top;
  cursor: text;
  transition: all 0.3s;
}

.form-input:focus,
.form-input:not(:placeholder-shown) {
  border-bottom: 2px solid #B4FF02;
}

.form-input:focus ~ label,
.form-input:not(:placeholder-shown) ~ label {
  padding: 0;
  color: #333333;
  transform: translateY(20px) scale(0.8);
}

.message-invalid {
  color: #FF0215;
  font-size: 14px;
  opacity: 0;
}

.message-invalid.active {
  opacity: 1;
}