@import '../constants.scss';
@import '../mixins.scss';
@import '../placeholders.scss';

.error-content {
    width: 100%;
    height: 100%;
    @include flex(column);
    align-items: center;
    justify-content: space-between;
    row-gap: 30px;
    padding: 40px 0;
}

.error-404 {
    @include flex(row);
}

.error-icons-wrapper {
    width: 56px;
    height: 245px;
    @include flex(row);
    @include media-mobile {
		height: 170px;
	}
}

.right {
    align-items: end;
}

.left {
    align-items: start;
}

.error {
    font-family: 'Shadows Into Light', cursive;
    font-size: 190px;
    font-weight: 600;
    color: $color-secondary;
    @include media-mobile {
		font-size: 130px;
        font-weight: 500;
	}
}

.small {
    width: 15px;
}