@import '../constants.scss';
@import '../mixins.scss';
@import '../placeholders.scss';

.language, .language-switch {
    @include flex(row);
    align-items: center;
    justify-content: center;
    background-color: $color-light;
    color: $color-dark;
    @include font(normal, 600, 2rem);
    width: 100%;
    height: 50px;
    padding: 12px 6px;
    border: none;
    cursor: pointer;
}

.language-switch {
    @extend %border-radius;
    width: 50px;
}

.language:hover {
    background-color: $color-additional;
    color: $color-light;
}

.dropdown-content {
    width: 50px;
    height: 100px;
    display: none;
    position: absolute;
    background-color: $color-light;
    @extend %shadow;
    z-index: 10;
    transition: 0.5s;
}