@import '../constants.scss';
@import '../mixins.scss';
@import '../placeholders.scss';

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 5;
    top: 80px;
    right: 0;
    background-color: $color-dark;
    overflow-x: hidden;
    padding-top: 20px;
    transition: all 0.5s ease;
    @include media-mobile {
		padding-top: 15px;
	}
}

.sidenav-text {
    padding: 16px 16px 16px 32px;
    cursor: pointer;
    @include font(normal, 400, 1.8rem);
    color: $color-light;
    @include flex(row);
    column-gap: 8px;
    transition: 0.3s;
    &:hover {
        background-color: $color-additional;
    }
}

.close-button {
    @extend %rounded-button;
    width: 45px;
    height: 45px;
    background-color: transparent;
    @include flex(row);
    align-items: center;
    justify-content: center;
    &:hover {
        background-color: $color-additional;
    }
}

.sidenav .closebtn {
    @include flex(row);
    align-items: center;
    justify-content: space-between;
    color: $color-light;
    @include font(normal, 400, 2.8rem);
    padding: 18px 32px;
}

.bin-icon {
    @include icon(20px, 20px);
    background-image: url('bin-icon.svg');
}

.close-icon {
    @include icon(50%, 50%);
    background-image: url('close-icon.svg');
}