@import '../constants.scss';
@import '../mixins.scss';

.logo-wrapper {
    @include flex(row);
    align-items: center;
    column-gap: 10px;
    cursor: pointer;
}

.logo-icon {
    @include icon(40px, 40px);
    background-image: url('logo-star.svg');
}

.logo {
    font-family: 'Shadows Into Light', cursive;
    color: $color-dark;
    margin: 0;
    @include media-tablet {
        display: none;
    };
}