.logo-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;
    cursor: pointer;
}

.logo-icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-image: url('logo-star.svg');
    background-repeat: no-repeat;
    background-size: 100%;
}

.logo {
    font-family: 'Shadows Into Light', cursive;
}